html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );
}
.contact-form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid hsl(0, 0%, 87%);
  border-radius: 5px;
  position: relative !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}
